---
import { getAllTags } from "@/utils/getAllTags";
import Tag from "./Tag.astro";
const tags = await getAllTags();
---

<div class="flex gap-3">
	{
		tags.map((tag) => (
			<a href={`/blog/tag/${tag.toLowerCase()}`}>
				<Tag tag={tag} />
			</a>
		))
	}
</div>
